{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}

<script>
function scrollToBottom() {
   document.body.scrollTop = document.body.scrollHeight;
   document.documentElement.scrollTop = document.body.scrollHeight;
}

function scrollToTop() {
   document.body.scrollTop = 0;
   document.documentElement.scrollTop = 0;
}

function reloadPage() {
    location.reload(true) ;
}
</script>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>{% trans %}{{ logfile }}{% endtrans %}</h5></div>
            <div class="panel-body">
                <button onclick=scrollToBottom() type="button" class="btn btn-info" role="button">End of file</button>
                <p></p>
                <pre>{{ contentLog }}</pre>
                <button onclick=scrollToTop() type="button" class="btn btn-info" role="button">Start of file</button>
                <button onclick=reloadPage() type="button" class="btn btn-info" role="button">Reload</button>
            </div>
    </div>
</div>
                
{% endblock %}
