{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}

<script>
function create_device(name) {
    var name = document.getElementById("ebus_" + name).value;
    var type = document.getElementById("ebus_devicetype_" + name).value;
    devicecreateurl="/client/{{ clientid }}/dmg_devices/new/type/ebusd." + type + "?address=" + name;
    window.open(devicecreateurl, '_blank') ;
}
</script>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{% trans %}List of available sensor find by ebus {% endtrans %}</h4></div>
        <div class="panel-body">       
            <table class='table'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Device type</th>
                        <th>Create device</th>
                    </tr>
                </thead>
  
                <tbody>
                    {% for ebusd in sensor_list %}
                    <tr>
                        <form class="form-inline">
                        <td>
                            <input class="form-control input-sm" id="ebus_{{ ebusd.name }}" type="text" value="{{ ebusd.name }}" readonly>
                        </td>

                        <td>
                            <input class="form-control input-sm" id="ebus_value_{{ ebusd.name }}" type="text" value="{{ ebusd.value }}" readonly>
                        </td>
    
                        <td>
                            <select class="form-control input-sm" id="ebus_devicetype_{{ ebusd.name }}">
                                <option>info</option>
                                <option>value</option>
                                <option>state</option>
                            </select>
                        </td>

                        <td>
                            <input type="button" class="btn btn-success btn-sm" name="submit_id" id="btn_id" value="Create device" onclick="create_device('{{ ebusd.name }}')"/>
                        </td>    
                        </form>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{% trans %}Plugin log{% endtrans %}</h4></div>
            <div class="panel-body">            
                <div class="panel panel-default">
                    <div class="panel-heading">ERROR or WARNING messages in {{ logfile }}</div>
                    <div class="panel-body"><pre>{{ errorlog }}</pre></div>
                </div>
                <a href="./{{ clientid }}/log" class="btn btn-info" role="button">{% trans %}Display log file{% endtrans %}</a>
            </div>

    </div>
</div>


{% endblock %}
